---
# name: certificates
# file: tasks/main.yml

- name: "Gather Facts"
  ansible.builtin.setup:
  tags:
    - all
    - setup

- name: "Debug distribution and os_family"
  ansible.builtin.debug:
    msg: "OS Family: {{ ansible_os_family }} Distribution: {{ ansible_distribution }} {{ ansible_distribution_major_version }}"

- name: "Set distribution dependent variables"
  ansible.builtin.include_vars: "{{ item }}"
  vars:
    params:
      files:
        - '{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml'
        - '{{ ansible_distribution | lower }}.yml'
        - '{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version }}.yml'
        - '{{ ansible_os_family | lower }}.yml'
        - 'main.yml'
      paths:
        - 'vars'
  loop: "{{ query('first_found', params) }}"

- name: "Install ca-certificates package"
  ansible.builtin.package:
    name: ca-certificates
    state: present
  tags:
    - all
    - ca
    - certs
    - install

- name: "Include tasks for CA certificate distribution"
  ansible.builtin.include_tasks: "ca.yml"
  loop: "{{ certificates_ca_certs | default([]) }}"
  tags:
    - all
    - ca

- name: "Install CA certificates in trust store"
  ansible.builtin.command: "{{ certificates_ca_command }}"
  changed_when: false
  tags:
    - all
    - ca

- name: "Include tasks for certificate distribution"
  ansible.builtin.include_tasks: "certs.yml"
  loop: "{{ certificates_certs | default([]) }}"
  tags:
    - all
    - certs
