---
# role: ansible-role-certificates
# file: molecule/resources/playbooks/prepare.yml

- name: "PLAYBOOK | Prepare"
  hosts: certificates_ca_host
  become: true
  gather_facts: true
  vars: # using alpine image here
    certificates_tls_dir: "/etc/ssl"
    certificates_ca_dir: "{{ certificates_tls_dir }}/ca/example"
    apache_package_name: "apache2"
    apache_service_name: "apache2"
    apache_web_root_dir: "/var/www/localhost/htdocs"
  tasks:
    - name: "Install packages"
      ansible.builtin.package:
        name:
          - "{{ apache_package_name }}"
          - git
          - make
          - openssl
        state: present
    - name: "Ensure CA directory exists"
      ansible.builtin.file:
        path: "{{ certificates_ca_dir }}"
        state: directory
        mode: "0755"
    - name: "Clone make-ca repository"
      ansible.builtin.git:
        repo: "https://github.com/jam82/make-ca.git"
        dest: "{{ certificates_ca_dir }}"
        version: main
    - name: "Run CA 'init' target"
      community.general.make:
        chdir: "{{ certificates_ca_dir }}"
        target: init
    - name: "Run 'fritzbox' target"
      community.general.make:
        chdir: "{{ certificates_ca_dir }}"
        target: certs/component-ca/server/fritzbox
    - name: "Copy certificates to {{ apache_web_root_dir }}"
      ansible.builtin.copy:
        src: "{{ certificates_ca_dir }}/pub/"
        dest: "{{ apache_web_root_dir }}/"
        mode: "0644"
        remote_src: true
    - name: "Start webserver"
      ansible.builtin.service:
        name: "{{ apache_service_name }}"
        state: started
        enabled: true
